.container
{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    height: 650px;
    width: 550px; 
    background-color: white;
    font-family: 'Times New Roman';
}
.col-md-5
{
    background-color: lightslategrey;
    color: white;
    height: 650px;
}
img
{   
    width: 180px;
}
h3
{
    color: brown;
}